//colors for app
$feature: #a2aebb;
$border: #E8F7EE;
$panel: #8BD7D2;
$text: #FFFBFA;

//padding
$padding-sm: 2px;
$padding-md: 5px;
$padding-lg: 10px;

//opacity for blending
$blended: 40%;

//basic border-radius
$border-radius: 2px;
$view-padding: 5px;